*.pyc
.env
.direnv
.DS_Store
*.mo
*~
*.psd
.phpunit.cache/
.phpunit.result.cache
*.glb
/gm/journal_cache/*
AGENTS.md
.pnpm-store
/.coveragerc
/api/coverage.xml
/api/.coverage
/api/.envrc
/api/.venv/
/api/static/index-staging.html
